{namespace sav=Tx_SavLibraryPlus_ViewHelpers}
    <div class="titleBar">
      <div class="titleIconLeft">
      <sav:form.image name="formAction][save" src="{sav:getIcon(fileName:'save')}" alt="{sav:translate(key:'button.save')}" title="{sav:translate(key:'button.save')}" additionalAttributes="{onclick:'update(\'{configuration.general.formName}\');'}" />
      <f:if condition="{configuration.general.saveAndNew}">
        <sav:form.image name="formAction][saveAndNewInSubform][{sav:compressParameters(arguments:'{subformFieldKey:configuration.general.subformFieldKey,subformUidForeign:0,subformUidLocal:configuration.general.subformUidLocal}')}" src="{sav:getIcon(fileName:'saveAndNew')}" alt="{sav:translate(key:'button.saveAndNew')}" title="{sav:translate(key:'button.saveAndNew')}" additionalAttributes="{onclick:'update(\'{configuration.general.formName}\');'}" />
      </f:if>  
      <f:if condition="{configuration.general.newButtonIsAllowed}">
      <sav:link.action action="newInSubform" additionalParams="{configuration.general.additionalParams}" noCacheHash="1" arguments="{subformFieldKey:configuration.general.subformFieldKey,subformUidForeign:0,subformUidLocal:configuration.general.subformUidLocal}">
        <f:image class="new" src="{sav:getIcon(fileName:'new')}" alt="{sav:translate(key:'button.new')}" title="{sav:translate(key:'button.new')}" />
      </sav:link.action> 
      </f:if>         
      </div>
      <f:if condition="{configuration.general.title}">
      <div class="titleLabel"><f:if condition="{configuration.general.titleNeedsFormat}"><f:then><sav:html>{configuration.general.title}</sav:html></f:then><f:else>{configuration.general.title}</f:else></f:if></div>
      </f:if>
      <div class="titleIconRight">
      </div>
    </div>
