{namespace sav=Tx_SavLibraryPlus_ViewHelpers}
    <div class="footer">
    <f:if condition="{configuration.general.page} > 0">
      <sav:link.action action="previousPageInEditMode">
        <f:image class="previousPage" src="{sav:buildSrc(fileName:'Resources/Private/Icons/previous.gif')}" alt="{f:translate(key:'button.previous')}" title="{f:translate(key:'button.previous')}" />
      </sav:link.action>
    </f:if>
    <f:if condition="{configuration.general.page} < {configuration.general.lastPage}">
      <sav:link.action action="nextPageInEditMode">
        <f:image class="nextPage" src="{sav:buildSrc(fileName:'Resources/Private/Icons/next.gif')}" alt="{f:translate(key:'button.next')}" title="{f:translate(key:'button.next')}" />
      </sav:link.action>
    </f:if>
    </div>

