{namespace sav=Tx_SavLibraryPlus_ViewHelpers}
    <div class="footer">
    <f:if condition="{configuration.general.lastPage} > 0">
      <f:if condition="{configuration.general.showFirstLastButtons}">
      <sav:link.action action="firstPageInEditMode">
        <f:image class="backwardFirstPage" src="{sav:getIcon(fileName:'backwardFirstPage.gif')}" alt="{f:translate(key:'button.backwardFirstPage')}" title="{f:translate(key:'button.backwardFirstPage')}" />
      </sav:link.action>
      </f:if>
      <f:if condition="{configuration.general.page} > 0">
        <f:then>
        <sav:link.action action="previousPageInEditMode">
          <f:image class="backwardPage" src="{sav:getIcon(fileName:'backwardPage.gif')}" alt="{f:translate(key:'button.backwardPage')}" title="{f:translate(key:'button.backwardPage')}" />
        </sav:link.action>
        </f:then>
        <f:else>
          <f:image class="backwardPage" src="{sav:getIcon(fileName:'backwardPageNotPossible.gif')}" alt="{f:translate(key:'button.backwardPageNotPossible')}" title="{f:translate(key:'button.backwardPageNotPossible')}" />
        </f:else>
      </f:if>
      <f:for each="{configuration.general.pages}" as="page" key="pageKey">
        <sav:link.action action="listInEditMode" arguments="{page:pageKey}" class="{f:if(condition:'{configuration.general.page} == {pageKey}',then:'selected',else:'notSelected')}">
          {page}
        </sav:link.action>
      </f:for>
      <f:if condition="{configuration.general.page} < {configuration.general.lastPage}">
        <f:then>
        <sav:link.action action="nextPageInEditMode">
          <f:image class="forwardPage" src="{sav:getIcon(fileName:'forwardPage.gif')}" alt="{f:translate(key:'button.forwardPage')}" title="{f:translate(key:'button.forwardPage')}" />
        </sav:link.action>
        </f:then>
        <f:else>
          <f:image class="forwardPage" src="{sav:getIcon(fileName:'forwardPageNotPossible.gif')}" alt="{f:translate(key:'button.forwardPageNotPossible')}" title="{f:translate(key:'button.forwardPageNotPossible')}" />
        </f:else>
      </f:if>
      <f:if condition="{configuration.general.showFirstLastButtons}">
      <sav:link.action action="lastPageInEditMode">
        <f:image class="forwardLastPage" src="{sav:getIcon(fileName:'forwardLastPage.gif')}" alt="{f:translate(key:'button.forwardLastPage')}" title="{f:translate(key:'button.forwardLastPage')}" />
      </sav:link.action>
      </f:if>
    </f:if>
    </div>

