{namespace sav=Tx_SavLibraryPlus_ViewHelpers}
    <div class="titleBar">
      <f:if condition="{configuration.general.title}">
      <div class="titleLabel"><f:if condition="{configuration.general.titleNeedsFormat}"><f:then><sav:html>{configuration.general.title}</sav:html></f:then><f:else>{configuration.general.title}</f:else></f:if></div>
      </f:if>
      <div class="right"></div>
	    <div class="titleIconRight">
        <f:if condition="{configuration.general.userIsAllowedToExportData}">
	       <sav:form.image class="exportExecute"  name="formAction][exportExecute" src="{sav:buildSrc(fileName:'Resources/Private/Icons/exportExecute.gif')}" alt="{sav:translate(key:'button.exportExecute')}" title="{sav:translate(key:'button.exportExecute')}" additionalAttributes="{onclick:'submit();'}" />
        </f:if>      
        <sav:link.action action="close">
          <f:image class="close" src="{sav:buildSrc(fileName:'Resources/Private/Icons/close.gif')}" alt="{sav:translate(key:'button.close')}" title="{sav:translate(key:'button.close')}" />
        </sav:link.action>      
      </div>
    </div>
