{namespace sav=Tx_SavLibraryPlus_ViewHelpers}
<f:layout name="Default.html" />

<f:section name="content">
  <div class="exportView">
  <sav:form name="{configuration.general.formName}" method="post" enctype="multipart/form-data" action="exportSubmit">
    <f:render partial="TitleBars/ExportView/Default.html" arguments="{configuration:configuration}" />

    <div class="items">
    
      <sav:comment><!-- Displays the configuration controls--></sav:comment>    
      <div class="item">
        <sav:comment><!-- Displays the configuration selector --></sav:comment>       
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.configuration" /></div>
          <div class="value">
            <select name="{configuration.general.formName}[configuration]" >
            <f:for each="{configuration.optionsConfiguration}" as="option" key="optionKey">
              <option value="{optionKey}" {f:if(condition:'{optionKey} == {configuration.exportConfiguration.configuration}',then:'selected="selected"')}>{option}</option>
            </f:for>
            </select>
          </div> 
                 
          <sav:comment><!-- Displays the load configuration button --></sav:comment>   
          <sav:form.image name="formAction][exportLoadConfiguration" src="{sav:buildSrc(fileName:'Resources/Private/Icons/exportLoadConfiguration.gif')}" alt="{sav:translate(key:'button.exportLoadConfiguration')}" title="{sav:translate(key:'button.exportLoadConfiguration')}" additionalAttributes="{onclick:'submit();'}" />
      
          <sav:comment><!-- Displays the save configuration button --></sav:comment>   
          <sav:form.image name="formAction][exportSaveConfiguration" src="{sav:buildSrc(fileName:'Resources/Private/Icons/exportSaveConfiguration.gif')}" alt="{sav:translate(key:'button.exportSaveConfiguration')}" title="{sav:translate(key:'button.exportSaveConfiguration')}" additionalAttributes="{onclick:'submit();'}" />
      
          <sav:comment><!-- Displays the delete configuration button --></sav:comment>   
          <sav:form.image name="formAction][exportDeleteConfiguration" src="{sav:buildSrc(fileName:'Resources/Private/Icons/exportDeleteConfiguration.gif')}" alt="{sav:translate(key:'button.exportDeleteConfiguration')}" title="{sav:translate(key:'button.exportDeleteConfiguration')}" additionalAttributes="{onclick:'submit();'}" />
          
          <sav:comment><!-- Displays the delete configuration button --></sav:comment>           
          <input type="text" name="{configuration.general.formName}[configurationName]" value="{configuration.exportConfiguration.configurationName}" size="50" />

          <sav:comment><!-- Displays the toggle display button --></sav:comment> 
          <f:alias map="{label:'{f:if(condition:configuration.exportConfiguration.displaySelectedFields,then:\'button.exportToggleDisplayAllFields\',else:\'button.exportToggleDisplaySelectedFields\')}'}">  
          <sav:form.image name="formAction][exportToggleDisplay" src="{sav:buildSrc(fileName:'Resources/Private/Icons/exportToggleDisplay.gif')}" alt="{sav:translate(key:label)}" title="{sav:translate(key:label)}" additionalAttributes="{onclick:'submit();'}" />
          <input type="hidden" value="{configuration.exportConfiguration.displaySelectedFields}" name="{configuration.general.formName}[displaySelectedFields]"/>         
          </f:alias>
        </div>
      </div>

      <sav:comment><!-- Displays the field group --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.configurationGroup" /></div>
          <div class="value">
            <select name="{configuration.general.formName}[configurationGroup]" >
            <f:for each="{configuration.optionsGroup}" as="option" key="optionKey">
              <option value="{optionKey}" {f:if(condition:'{optionKey} == {configuration.exportConfiguration.configurationGroup}',then:'selected="selected"')}>{option}</option>
            </f:for>          
            </select>
          </div>
          <f:if condition="{configuration.exportConfiguration.fileLink}">
          <div class="label"><sav:translate key="itemviewer.generatedFileLink" /></div>
          <div class="value generatedFileLink"><sav:html>{configuration.exportConfiguration.fileLink}</sav:html>
          </div>
          </f:if>
        </div>    
      </div>                        
        
      <sav:comment><!-- Displays the field xmlFile --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.xmlFile" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[xmlFile]" value="{configuration.exportConfiguration.xmlFile}" size="80" /></div>
        </div>    
      </div>
      
      <sav:comment><!-- Displays the field xsltFile --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.xsltFile" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[xsltFile]" value="{configuration.exportConfiguration.xsltFile}" size="80" /></div>
        </div>    
      </div>      

      <sav:comment><!-- Displays the field exec --></sav:comment>
      <f:if condition="{configuration.general.execIsAllowed}">
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.exec" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[exec]" value="{configuration.exportConfiguration.exec}" size="80" /></div>
        </div>    
      </div> 
      </f:if> 

      <sav:comment><!-- Displays the fields  --></sav:comment> 
      <div class="item">
        <div class="field fields">   
          <div class="label"><sav:translate key="itemviewer.fields" /></div>         
          <div class="value">  
          <f:for each="{configuration.exportConfiguration.fields}" as="field" key="fieldKey">
	      	  <f:cycle values="{0: 'clearLeft', 1: ''}" as="clearLeft">
            <div class="checkbox {clearLeft}">
              <input type="hidden" value="0" name="{configuration.general.formName}[fields][{fieldKey}][selected]"/>
              <input type="checkbox" value="1" name="{configuration.general.formName}[fields][{fieldKey}][selected]" {f:if(condition:'{field.selected}',then:'checked="checked"')}/>
              <input type="hidden" value="0" name="{configuration.general.formName}[fields][{fieldKey}][render]"/>
              <input type="checkbox" value="1" name="{configuration.general.formName}[fields][{fieldKey}][render]" {f:if(condition:'{field.render}',then:'checked="checked"')}/>
              <span ondblclick="{configuration.general.formName}['{configuration.general.formName}[whereClause]'].value+='{fieldKey}'" class="checkbox">{fieldKey}</span>
            </div>
 	      	  </f:cycle>
 	        </f:for> 
          </div>
        </div>
      </div>
      
      <sav:comment><!-- Displays the field whereClause --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.whereClause" /></div>
          <div class="value"><textarea name="{configuration.general.formName}[whereClause]" rows="5" cols="70" />{configuration.exportConfiguration.whereClause}</textarea></div>
        </div>    
      </div> 

      <sav:comment><!-- Displays the field orderByClause --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.orderByClause" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[orderByClause]" value="{configuration.exportConfiguration.orderByClause}" size="80" /></div>
        </div>    
      </div>  
      
      <sav:comment><!-- Displays the field additionalTables --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.additionalTables" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[additionalTables]" value="{configuration.exportConfiguration.additionalTables}" size="80" /></div>
        </div>    
      </div>        

      <sav:comment><!-- Displays the field additionalFields --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.additionalFields" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[additionalFields]" value="{configuration.exportConfiguration.additionalFields}" size="80" /></div>
        </div>    
      </div>   

      <sav:comment><!-- Displays the fields exportMM and groupByClause --></sav:comment> 
      <div class="item">
        <sav:comment><!-- Displays exportMM --></sav:comment>      
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.exportMM" /></div>
          <div class="value">
            <div class="checkbox">
              <input type="hidden" value="0" name="{configuration.general.formName}[exportMM]"/>
              <input type="checkbox" value="1" name="{configuration.general.formName}[exportMM]" {f:if(condition:'{configuration.exportConfiguration.exportMM}',then:'checked="checked"')}/>
            </div>
          </div>
        </div>        
        <sav:comment><!-- Displays groupByClause --></sav:comment>      
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.groupByClause" /></div>
          <div class="value"><input type="text" name="{configuration.general.formName}[groupByClause]" value="{configuration.exportConfiguration.groupByClause}" size="50" /></div>
        </div>    
      </div> 

      <sav:comment><!-- Displays the fields includeAllFields and exportFieldNames --></sav:comment> 
      <div class="item">
        <sav:comment><!-- Displays includeAllFields --></sav:comment>      
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.includeAllFields" /></div>
          <div class="value">
            <div class="checkbox">
              <input type="hidden" value="0" name="{configuration.general.formName}[includeAllFields]"/>
              <input type="checkbox" value="1" name="{configuration.general.formName}[includeAllFields]" {f:if(condition:'{configuration.exportConfiguration.includeAllFields}',then:'checked="checked"')}/>
            </div>
          </div>
        </div>        
        <sav:comment><!-- Displays exportFieldNames --></sav:comment>      
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.exportFieldNames" /></div>
          <div class="value">
            <div class="checkbox">
              <input type="hidden" value="0" name="{configuration.general.formName}[exportFieldNames]"/>
              <input type="checkbox" value="1" name="{configuration.general.formName}[exportFieldNames]" {f:if(condition:'{configuration.exportConfiguration.exportFieldNames}',then:'checked="checked"')}/>
            </div>
          </div>
        </div>    
      </div> 
      
      <sav:comment><!-- Displays the field orderedFieldList --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.orderedFieldList" /></div>
          <div class="value"><textarea name="{configuration.general.formName}[orderedFieldList]" rows="5" cols="70" onchange="document.changed=1;" />{configuration.exportConfiguration.orderedFieldList}</textarea></div>
        </div>    
      </div> 

      <sav:comment><!-- Displays the TypoScript Configuration --></sav:comment>
      <div class="item">
        <div class="field">
          <div class="label"><sav:translate key="itemviewer.fieldsConfiguration" /></div>
          <div class="value"><textarea name="{configuration.general.formName}[fieldsConfiguration]" rows="2" cols="70" onchange="document.changed=1;" />{configuration.exportConfiguration.fieldsConfiguration}</textarea></div>
        </div>    
      </div> 
                      
    </div>
    <f:render partial="Footers/EditView/Default.html" arguments="{configuration:configuration}" />
  </sav:form>
  </div>
</f:section>
