{namespace sav=Tx_SavLibraryPlus_ViewHelpers}
    <f:render partial="TitleBars/EditView/Subform.html" arguments="{configuration:configuration}" />
    <div class="items">
      <f:for each="{configuration.rows}" as="row">
      <div class="subformItem">
      <f:for each="{row}" as="field">
        <sav:typoscript.wrap configuration="{field.wrapItem}">
          <sav:comment><!-- cutter for the fusion and cut conditions--></sav:comment>
          <f:if condition="{field.cutDivItemBegin}!=1">
          <div class="{field.classItem}">
            <div class="itemIconLeft">
            <f:if condition="{field.isFirstField}">
            <f:if condition="{configuration.general.deleteButtonIsAllowed}">
              <sav:link.action action="deleteInSubform" additionalParams="{configuration.general.additionalParams}" arguments="{subformUidForeign:field.uid,subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey}" noCacheHash="1">
                <f:image src="{sav:getIcon(fileName:'delete')}" alt="{sav:translate(key:'button.delete')}" title="{sav:translate(key:'button.delete')}" />
              </sav:link.action>
            </f:if>
            <f:if condition="{configuration.general.upDownButtonIsAllowed}">
              <sav:link.action action="upInSubform" additionalParams="{configuration.general.additionalParams}" arguments="{subformUidForeign:field.uid,subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey}" noCacheHash="1">
                <f:image src="{sav:getIcon(fileName:'up')}" alt="{sav:translate(key:'button.up')}" title="{sav:translate(key:'button.up')}" />
              </sav:link.action>
              <sav:link.action action="downInSubform" additionalParams="{configuration.general.additionalParams}" arguments="{subformUidForeign:field.uid,subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey}" noCacheHash="1">
                <f:image src="{sav:getIcon(fileName:'down')}" alt="{sav:translate(key:'button.down')}" title="{sav:translate(key:'button.down')}" />
              </sav:link.action>
            </f:if>
            </f:if>
            </div>
          </f:if>
          <sav:comment><!-- cutter for the fusion and cut conditions--></sav:comment>
          <f:if condition="{field.cutDivItemInner}!=1">
            <div class="{field.classField}">
            <f:if condition="{field.cutLabel}!=1">
              <div class="{field.classLabel}{f:if(condition:'{field.error}',then:' error')}"{f:if(condition:'{field.styleLabel}',then:' style="{field.styleLabel}"')}><sav:html>{field.label}</sav:html><f:if condition="{field.required}"><f:image src="{sav:getIcon(fileName:'required')}" class="required" alt="{sav:translate(key:'icon.required')}" title="{sav:translate(key:'icon.required')}" /></f:if></div>
            </f:if>
            <f:if condition="{field.subform}">
              <f:then>
              <sav:html>{field.value}</sav:html>
              </f:then>
              <f:else>
              <div class="{field.classValue}"{f:if(condition:'{field.styleValue}',then:' style="{field.styleValue}"')}><sav:html>{field.value}</sav:html></div>
              </f:else>
            </f:if>            
            </div>
          </f:if>
          <sav:comment><!-- cutter for the fusion and cut conditions--></sav:comment>
          <f:if condition="{field.cutDivItemEnd}!=1">
          <div class="right"></div>
          </div>
          </f:if>
        </sav:typoscript.wrap>
      </f:for>
      </div>
    </f:for>
    </div>
    <f:render partial="Footers/EditView/Subform.html" arguments="{configuration:configuration}" />
